body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.head_banner {
    padding: 0;
    margin: 0;
    width: 100%;
}

.head_banner > a {
    padding: 0;
    margin: 0;
}

#head_banner_img_file {
    padding: 0;
    margin: 0;
    width: 100%;
}

.body_article {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    width: max-content;
}

.body_article_news {
    display: inline-block;
    width: 1000px;
    vertical-align: top;
}

.body_article_title {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.body_article_text {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.body_article_profile {
    text-align: right;
}

.body_article_profile_name {
    display: inline-block;
    vertical-align: top;
}

.body_article_profile_img {
    display: inline-block;
    width: 80px;
    height: 80px;
}

#body_article_profile_img_file {
    width: 80px;
    height: 80px;
}

#reporter_name {
    margin: 0;
    font-weight: 1000;
    font-size: 20px;
}

#reporter_id {
    font-weight: 300;
}

.body_article_ads {
    display: inline-block;
}

.body_article_ad_1 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    background-color: #FF0000;
}

.body_article_ad_2 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    background-color: #00FF00;
}

.body_article_ad_3 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    background-color: #0000FF;
}