body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.head_banner {
    padding: 0;
    margin: 0;
    width: 100%;
}

.head_banner > a {
    padding: 0;
    margin: 0;
}

#head_banner_img_file {
    padding: 0;
    margin: 0;
    width: 100%;
}

.body_article {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.body_article_news {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.horizon_rule_latest {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-basis: 100%;
    font-size: 16px;
}

.horizon_rule_history {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-basis: 100%;
    font-size: 16px;
}

.horizon_rule_latest::before {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    background-color: #00000035;
    font-size: 0px;
    content: "";
    flex-grow: 1;
    line-height: 0px;
}

.horizon_rule_latest::after {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    background-color: #00000035;
    font-size: 0px;
    content: "";
    flex-grow: 1;
    line-height: 0px;
}

.horizon_rule_history::before {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    background-color: #00000035;
    font-size: 0px;
    content: "";
    flex-grow: 1;
    line-height: 0px;
}

.horizon_rule_history::after {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    background-color: #00000035;
    font-size: 0px;
    content: "";
    flex-grow: 1;
    line-height: 0px;
}

.body_article_news_latest {
    padding: 0;
    margin: 0;
    display: inline-block;
    position : relative;
    width: 1000px;
    height: 200px;
    vertical-align: top;
    object-fit: contain;
}

.body_article_news_latest_img {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 350px;
}

#body_article_news_latest_img_file {
    padding: 0;
    margin: 0;
    width: 350px;
}

.body_article_news_latest_content {
    padding: 0;
    margin: 0;
    display: inline-block;
    position : absolute;
    top: 50px;
    left: 360px;
    width: 640px;
    height: fit-content;
    vertical-align: top;
}

.body_article_news_latest_content > #body_article_news_latest_date {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 200px;
}

.body_article_news_latest_content > #body_article_news_latest_title {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.body_article_news_latest_content > #body_article_news_latest_text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.body_article_news_list {
    padding: 0;
    margin: 0;
}

.body_article_news_list_folder_name {
    padding: 10px;
    background-color: #505050;
    color: #FFFFFF;
    border-radius: 10px;
}

.body_article_news_list_cards {
    padding: 0;
    margin: 0;
    width: 1000px;
    list-style-type: none;
    font-size: 0;
}

.body_article_news_list_card {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    position : relative;
    width: 1000px;
    height: 110px;
    vertical-align: top;
    object-fit: contain;
}

.body_article_news_list_card_img {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 200px;
}

.body_article_news_list_card_img_file {
    padding: 0;
    margin: 0;
    width: 200px;
}

.body_article_news_list_content {
    padding: 0;
    margin: 0;
    display: inline-block;
    position : absolute;
    top: 20px;
    left: 210px;
    width: 640px;
    height: fit-content;
    vertical-align: top;
}

.body_article_news_list_content > .body_article_news_list_date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 200px;
}

.body_article_news_list_content > .body_article_news_list_title {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.body_article_news_list_content > .body_article_news_list_text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.body_article_horizon_ads {
    padding-left: 0;
    margin: 0;
}

#body_article_horizon_ad_1 {
    width: 500px;
    height: 100px;
}

#body_article_horizon_ad_2 {
    width: 500px;
    height: 100px;
}

.body_article_vertical_ads {
    margin-left: 10px;
    display: inline-block;
}

#body_article_vertical_ad_1 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
}

#body_article_vertical_ad_2 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
}

#body_article_vertical_ad_3 {
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
}